<div class="page-header">
  <h1>Ads</h1>
</div>

<p><a href="/ads/new" class="btn btn-primary">Add a New Ad</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Ad</th>
      <th>CPV</th>
      <th>Company</th>
       <th>ID</th>

       <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ads.each do |ad| %>
      <tr>
        <td>
        <iframe width="640" height="390" src="<%= ad.ad_url %>" frameborder="0" allowfullscreen></iframe>
        </td>
        <td><%= ad.cpv %></td>
        <td><%= ad.company %></td>
        <td><%= ad.id %></td>

        <td>
          <a href="/ads/<%= ad.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/ads/<%= ad.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_ad/<%= ad.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


