
<p> </p>

<div class="jumbotron">
    <h1>Welcome to AdUp</h1>
  <p>AdUp is a new platform that puts YOU in control of what ads you want to see.  It gives you the power to choose your own categories and interests.  </p>
  <p> Want to hear the best part?  You get PAID to watch ads from some of your favorite brands.  </p>
</div>


<h2>Sign in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>

  <div><%= f.submit "Sign in" %></div>
<% end %>

<%= render "devise/shared/links" %>
